/* Nav bar styling */
nav a {
    color: rgb(236, 226, 226);
    font-size: 1.1rem;
    text-decoration: none;
    position: relative;
}
nav a:hover {
    color: #fcfcfc;
    border-bottom: 2px solid #ffffff;
}

/* Tasks Table styling */
th, td {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

/* Create button styling */
#create {
background-color: #9225eb;
color: white;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
}

#create:hover {
  box-shadow:0 8px 10px 0 rgba(121, 62, 115, 0.6)
}


/* Search button styling */
#search {
background-color: #db1ebc;
color: white;
border-radius: 0.25rem;
width: 80px;
height: 30px;
}

#search:hover {
  box-shadow:0 8px 10px 0 rgba(190, 96, 175, 0.6)
}

/* Show All Tasks button styling */
#clear {
background-color: #9225eb;
color: white;
padding: 0.5rem 1rem;
border-radius: 0.25rem;
}

#clear:hover {
  box-shadow:0 8px 10px 0 rgba(121, 62, 115, 0.6)
}





.flash-message{
    color: rgb(187, 16, 16);
    font-weight: bold;
    margin-bottom: 10px;
}