<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% block title %}<title>Task Management App</title>{% endblock %}
    <!-- This allow for the code to personalised according the individual page-->

</head>

<body>
    <nav class="fixed top-0 left-0 w-full bg-gray-800 text-white p-4 z-50">
    <div class="flex justify-between items-center max-w-6xl mx-auto">

        <!-- Logo -->
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="h-12 w-15">

        <!-- Navigation Links -->
        <div class="space-x-6">

            <a href="/" class="hover:text-gray-300">Home</a>

            {% if current_user.is_authenticated %}
                <a href="/tasks">Dashboard</a>
                <a href="/logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {% endif %}

        </div>

    </div>
    </nav>
    <br>
    <br>
    <br>
    <br>

    {% block content %}

    <h1 class="text-3xl font-bold text-center mt-4 mb-8">Task Management App</h1>
    <p>Task Manager App Running</p>

    {% endblock %}

</body>

</html>