{% extends "base.html" %}

{% block title %}<title>LogIn</title>{% endblock %}

{% block content %}
<a href="{{ url_for('register') }}" class=""> Don't have an account? Sign up here! </a>

<form id="login" method="POST" action="">

    {{ form.hidden_tag() }}

    {{ form.username.label }}
    {{ form.username() }}
    {% for error in form.username.errors %}
    <span style="color:red">{{ error }}</span>
    {% endfor %}

    {{ form.password.label }}
    {{ form.password() }}
    {% for error in form.password.errors %}
    <span style="color:red">{{ error }}</span>
    {% endfor %}

    {{ form.submit() }}

</form>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

{% endblock %}