{% extends "base.html" %}
{% block title %}<title>Tasks</title>{% endblock %}
{% block content %}
<h1 class="text-4xl font-bold text-center mt-4 mb-8"> Tasks </h1>

<h2 class="text-4xl font-bold text-center mt-4 mb-8">Your Tasks</h2>

<div class="text-center mb-6">
    <a class="button" href="{{ url_for('create_task') }}"> Create Task </a>
</div>

<!--------- Will display the below message if there are tasks ------->
{% if tasks|length == 0 %}

<div class="text-center text-gray-500 mt-10">
    You have 0 tasks. Create your first task!
</div>

{% else %}

<!--------- Button to clear filter ------->
{% if request.args.get('status') %}
<a href="/tasks" class="button">Clear Filter</a>
{% endif %}

<div class="text-center mb-6">
    <table class="table-auto w-full border-collapse border border-gray-300">
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Priority</th>
            <th>Due Date</th>
            <!--------- Filter by status ------->
            <th> Status<br>
             <select class="text-center" onchange="location = this.value;">
                <option value="/tasks"
                {% if request.args.get('status') is none %}selected{% endif %}>
                All
                </option>

                <option value="/tasks?status=To Do"
                {% if request.args.get('status') == 'To Do' %}selected{% endif %}>
                To Do
                </option>

                <option value="/tasks?status=In Progress"
                {% if request.args.get('status') == 'In Progress' %}selected{% endif %}>
                In Progress
                </option>

                <option value="/tasks?status=Completed"
                {% if request.args.get('status') == 'Completed' %}selected{% endif %}>
                Completed
                </option>
            </select>
            </th>
            <th>Actions</th>

        </tr>

        {% for task in tasks %}

        <tr class="table-auto w-full border-collapse border border-gray-300">
            <td>{{ task.title }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.status }}</td>
            <td>
                <a class="button" href="/tasks/{{task.id}}/edit">Edit</a>
                <a class="button" href="/tasks/{{task.id}}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endif %}

<div class="button-container">
    <a class="button" href="{{url_for('login')}}"> Click here to logout</a>
</div>

{% endblock %}